Source: sdltcl8.6
Section: libs
Priority: optional
Maintainer: <chw@ch-werner.de>
Build-Depends: debhelper (>= 5.0.0), quilt
Standards-Version: 3.8.3
Homepage: http://www.tcl.tk/

Package: sdltcl8.6
Section: interpreters
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}
Description: Tcl (the Tool Command Language) v8.6 - run-time files
 Tcl is a powerful, easy to use, embeddable, cross-platform interpreted
 scripting language.  This package contains everything you need to run
 Tcl scripts and Tcl-enabled apps.  This version includes thread support.

Package: sdltcl8.6-doc
Section: doc
Priority: optional
Architecture: all
Suggests: sdltcl8.6
Description: Tcl (the Tool Command Language) v8.6 - manual pages
 Tcl is a powerful, easy-to-use, embeddable, cross-platform interpreted
 scripting language.  This package contains the man pages for Tcl commands.

Package: sdltcl8.6-dev
Section: devel
Priority: optional
Architecture: any
Depends: sdltcl8.6 (= ${binary:Version})
Suggests: sdltcl8.6-doc
Description: Tcl (the Tool Command Language) v8.6 - development files
 Tcl is a powerful, easy-to-use, embeddable, cross-platform interpreted
 scripting language.  This package contains the headers and libraries
 needed to embed or extend Tcl.
