#!/usr/bin/make -f
# debian/rules that uses debhelper.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_HOST_GNU_TYPE := $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE := $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

export QUILT_PATCHES := debian/patches

v = 8.6

ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
CFLAGS=-g -O0
else
# See bug #446335
CFLAGS=-g -O2 -fno-unit-at-a-time
endif

CFLAGS+=-DZIPFS_IN_TCL=1

unpatch:
	dh_testdir
	quilt pop -a || test $$? = 2
	rm -rf patch-stamp .pc

patch: patch-stamp
patch-stamp:
	dh_testdir
	quilt push -a || test $$? = 2
	touch patch-stamp

build: build-stamp
build-stamp: patch-stamp
	dh_testdir
# So so ugly but it works...
	touch generic/tclStubInit.c
	cd unix && \
	  CFLAGS="$(CFLAGS)" \
	  ac_cv_func_strtod=yes \
	  tcl_cv_strtod_buggy=1 \
	   ./configure --host=$(DEB_HOST_GNU_TYPE) \
		      --build=$(DEB_BUILD_GNU_TYPE) \
		      --prefix=/opt/sdltk86 \
		      --includedir=/opt/sdltk86/include \
		      --enable-shared \
		      --mandir=/opt/sdltk86/man \
		      --enable-man-symlinks \
		      --enable-man-compression=gzip \
		      --enable-threads \
		      --without-tzdata && \
	  touch ../generic/tclStubInit.c && \
	  $(MAKE)
# Build the static library.
	cd unix && \
	  ar cr libtcl$(v).a *.o && \
	  ar d libtcl$(v).a tclAppInit.o && \
	  ranlib libtcl$(v).a
	touch build-stamp

clean: clean-patched unpatch
	dh_testdir
	dh_testroot
	dh_clean

clean-patched:
	dh_testdir
	dh_testroot
	rm -f build-stamp install-stamp
	cd unix && [ ! -f Makefile ] || $(MAKE) distclean
# Remove forgotten files
	rm -f tests/pkg/pkga.so unix/config.log unix/Tcltest.so

install: install-stamp
install-stamp: build-stamp
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	cd unix && \
	  GZIP=-9 \
	  $(MAKE) INSTALL_ROOT=`pwd`/../debian/tmp \
		  MAN_INSTALL_DIR=`pwd`/../debian/tmp/opt/sdltk86/man \
		  install install-private-headers install-packages
# Fix up the libraries.
	cp unix/libtcl$(v).a debian/tmp/opt/sdltk86/lib
	touch install-stamp

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	dh_movefiles -i
	dh_installdocs -i
	dh_installchangelogs -i ChangeLog
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	dh_movefiles -a
# now, fix up file locations for .sh
	mv debian/sdltcl$(v)/opt/sdltk86/lib/tclConfig.sh \
	   debian/sdltcl$(v)-dev/opt/sdltk86/lib
	dh_installdocs -a
	dh_installmenu -a
	dh_installchangelogs -a ChangeLog
	dh_fixperms -a
	dh_strip -a
	dh_compress -a
	dh_makeshlibs -a -V 'sdltcl$(v) (>= 8.6.2)' -XTcltest
	dh_installdeb -a
	dh_shlibdeps -a -ldebian/sdltcl$(v)/opt/sdltk86/lib
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

source diff:
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch

.PHONY: patch unpatch clean-patched build clean binary-indep binary-arch binary install

